{% extends 'base.html' %}
{% block content %}

<h1>Baseball Card List</h1>

{% for card in cards %}
<div class="card">
  <a href="{% url 'detail' card.id %}">
    <div class="card-content">
      <span class="card-title">{{ card.name }}</span>
      <p>Position: {{ card.position }}</p>
      {% if card.seasons > 0 %}
      <p>Years in MLB: {{ card.seasons }}</p>
      {% else %}
      <p>Rookie Card</p>
      {% endif %}
      <p>Card Brand: {{ card.brand }}</p>
      <p>Year: {{ card.year }}</p>
    </div>
  </a>
</div>
{% endfor %}

{% endblock %}